/*
    Resetação de Estilos CSS
    Autor: [Seu Nome ou Nome do Blog]
    Data: 2024-10-27
    Descrição: Reseta estilos padrão dos navegadores para garantir consistência visual.
*/

/* Remove margens e paddings padrão */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
a, abbr, acronym, address,
big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup,
tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background: #fff;
    font-family: "Josefin Sans", serif;
}

/* Reseta a aparência de elementos HTML5 (para navegadores antigos) */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Remove a decoração padrão de links */
a {
    text-decoration: none;
    color: inherit; /* Herda a cor do texto do elemento pai */
}

/* Define o modelo de caixa padrão para 'border-box' */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Define a fonte padrão */
body {
    line-height: 1; /* Define o espaçamento entre linhas padrão */
}

/* Reseta listas */
ol, ul {
    list-style: none;
}

/* Reseta aspas */
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* Reseta tabelas */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Reseta a aparência de campos de formulário */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"] {
    -webkit-appearance: none;
}

button {
    cursor: pointer; /* Adiciona o cursor de "mãozinha" */
    border: none;
    background: none;
    padding: 0;
}